<html>
<header>
    <title>Admin Login</title>
</header>

<body>
    <h1>Admin Login</h1>
    <form action="/register" method="POST">
        <p>User:</p>
        <input type="number" name="id" placeholder="User ID"/>
        <p>Password:</p>
        <input type="password" name="pass" placeholder="Password"/>
        <button type="submit">Enter</button>
    </form>
</body>

</html>